// input
#timelineForm > .content {
    background-color: $carbon-black;
}
    // border
    #timelineForm > .content {
        border-color: $darkest-blue;
    }
        // hover
        #timelineForm > .content:hover {
            border-color: $darker-blue;
            transition: 250ms;
        }
// post stream
.streamPostsContainer {
    background-color: $carbon-black;
}
    // post
    .post-item {
        background-color: $carbon-black;
        border-color: $darkest-gray;
    }
        // hover
        .post-item:hover {
            background-color: $darkest-gray;
            transition: 250ms;
        }
    // content
    .post-text {
        color: $light-gray !important;
    }
    // details
    .post-item .avatar-name, // author
    .post-item .says, // "says"
    .post-item .post-category, // category
    .post-item .fa-ellipsis-v, // options button
    .post-item .fa-clock-o, // clock icon
    .post-item .time-string, // post age
    .post-item .fa-comments-o, // comments icon
    .post-item .count { // comment count
        color: $light-blue;
    }
        // read more button
        .read-more {
            background-color: $light-blue;
            color: $carbon-black;
        }