$lightest-blue: #95AEBF;
$lighter-blue: #5599FF;
$blue: #3081FA;
$darker-blue: #2257A5;
$darkest-blue: #163461;
$light-gray: #BBBBBB;
$darker-gray: #121212;
$darkest-gray: #0F0F0F;
$carbon-black: #0B0B0B;
